## Part 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

In [4]:
basics = basics.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})
ratings = ratings.replace({'\\N':np.nan})

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
is_movie = basics["titleType"].str.contains("movie", case=False)
basics = basics[is_movie]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,NaN,NaN,Drama

In [7]:
basics.dropna(subset=["runtimeMinutes", "genres"], inplace=True)
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           6050
endYear           452593
runtimeMinutes         0
genres                 0
dtype: int64

In [8]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [9]:
time_filter = (basics["startYear"] > '1999')
basics = basics[time_filter]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [10]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [11]:
akas.dropna(subset=["region"], inplace=True)
akas.isna().sum()

titleId                   0
ordering                  0
title                     3
region                    0
language            4328050
types              27224994
attributes         30488289
isOriginalTitle        2175
dtype: int64

In [12]:
region_filter = akas["region"].str.contains("US", case=False)
akas = akas[region_filter]
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [13]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34805       True
61119       True
67672       True
77968      False
86806       True
           ...
9079400    False
9079438    False
9079483     True
9079567    False
9079640    False
Name: tconst, Length: 164186, dtype: bool

In [14]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9078854,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9079250,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9079390,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9079399,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9079483,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [15]:
basics.info

<bound method DataFrame.info of             tconst titleType  \
34805    tt0035423     movie
61119    tt0062336     movie
67672    tt0069049     movie
86806    tt0088751     movie
91077    tt0093119     movie
...            ...       ...
9078854  tt9914942     movie
9079250  tt9915872     movie
9079390  tt9916170     movie
9079399  tt9916190     movie
9079483  tt9916362     movie

                                              primaryTitle  \
34805                                       Kate & Leopold
61119    The Tango of the Widower and Its Distorting Mi...
67672                           The Other Side of the Wind
86806                                    The Naked Monster
91077                                  Grizzly II: Revenge
...                                                    ...
9078854                             Life Without Sara Amat
9079250                               The Last White Witch
9079390                                      The Rehearsal
9079399                                          Safeguard
9079483                                              Coven

                                     originalTitle isAdult startYear endYear  \
34805                               Kate & Leopold       0      2001     NaN
61119    El Tango del Viudo y Su Espejo Deformante       0      2020     NaN
67672                   The Other Side of the Wind       0      2018     NaN
86806                            The Naked Monster       0      2005     NaN
91077                     Grizzly II: The Predator       0      2020     NaN
...                                            ...     ...       ...     ...
9078854                 La vida sense la Sara Amat       0      2019     NaN
9079250                  My Girlfriend is a Wizard       0      2019     NaN
9079390                                   O Ensaio       0      2019     NaN
9079399                                  Safeguard       0      2020     NaN
9079483                                   Akelarre       0      2020     NaN

        runtimeMinutes                     genres
34805              118     Comedy,Fantasy,Romance
61119               70                      Drama
67672              122                      Drama
86806              100       Comedy,Horror,Sci-Fi
91077               74      Horror,Music,Thriller
...                ...                        ...
9078854             74                      Drama
9079250             97       Comedy,Drama,Fantasy
9079390             51                      Drama
9079399             90  Action,Adventure,Thriller
9079483             92              Drama,History

[90683 rows x 9 columns]>

In [16]:
akas.info

<bound method DataFrame.info of             titleId  ordering                          title region language  \
5         tt0000001         6                     Carmencita     US      NaN
14        tt0000002         7         The Clown and His Dogs     US      NaN
33        tt0000005        10               Blacksmith Scene     US      NaN
36        tt0000005         1            Blacksmithing Scene     US      NaN
41        tt0000005         6            Blacksmith Scene #1     US      NaN
...             ...       ...                            ...    ...      ...
32651673  tt9916702         1  Loving London: The Playground     US      NaN
32651711  tt9916720        10                The Demonic Nun     US      NaN
32651713  tt9916720        12                      The Nun 2     US      NaN
32651730  tt9916756         1       Pretty Pretty Black Girl     US      NaN
32651746  tt9916764         1                             38     US      NaN

                types             attributes isOriginalTitle
5         imdbDisplay                    NaN               0
14                NaN  literal English title               0
33        imdbDisplay                    NaN               0
36        alternative                    NaN               0
41        alternative                    NaN               0
...               ...                    ...             ...
32651673  imdbDisplay                    NaN               0
32651711           tv                    NaN               0
32651713  imdbDisplay                    NaN               0
32651730  imdbDisplay                    NaN               0
32651746  imdbDisplay                    NaN               0

[1336201 rows x 8 columns]>

In [17]:
ratings.info

<bound method DataFrame.info of             tconst  averageRating  numVotes
0        tt0000001            5.7      1896
1        tt0000002            5.9       254
2        tt0000003            6.5      1692
3        tt0000004            5.7       166
4        tt0000005            6.2      2507
...            ...            ...       ...
1255863  tt9916690            6.5         6
1255864  tt9916720            5.1       234
1255865  tt9916730            8.4         6
1255866  tt9916766            6.8        21
1255867  tt9916778            7.2        35

[1255868 rows x 3 columns]>

In [18]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [19]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

## Part 2

In [20]:
# Getting movie data

In [21]:
# imports
import os, time,json
import tmdbsimple as tmdb 
from tqdm import *

In [22]:
with open('/Users/Londo/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [51]:
tmdb.API_KEY =  login['api-key']

In [52]:
# Designate a folder for saving data
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [53]:
# Define the years we are seeking
YEARS_TO_GET = [2000,2001]

In [54]:
# Starting outer loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    # defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

/Users/Londo/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [55]:
# If it does not exist: create it
if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

In [56]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/title_basics.csv.gz')

In [57]:
#Saving new year as the current df
df = basics.loc[ basics['startYear']==YEAR].copy()
# saving movie ids to list
movie_ids = df['tconst'].copy()

In [58]:
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)

In [59]:
# filter out any ids that are already in the JSON_FILE
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [60]:
# ("""Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""
def write_json(new_data, filename):   
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [61]:
#Get index and movie id from list
# INNER Loop
for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_with_rating(movie_id)
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            time.sleep(0.02)
            
        except Exception as e:
            continue

/Users/Londo/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/ipykernel_launcher.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

Movies from 2001:   0%|          | 0/1794 [00:00<?, ?it/s]

In [62]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip",
index=False)

In [63]:
# Exploratory Analysis

In [64]:
final_year_df = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
final_year_df.head()

   imdb_id
0        0

In [36]:
# Why is this data not being uploaded to the JSON file?

## Part 3

In [37]:
# Imports
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

In [38]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90683 entries, 0 to 90682
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          90683 non-null  object
 1   titleType       90683 non-null  object
 2   primaryTitle    90683 non-null  object
 3   originalTitle   90683 non-null  object
 4   isAdult         90683 non-null  int64
 5   startYear       90683 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  90683 non-null  int64
 8   genres          90683 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.2+ MB

In [39]:
# Split genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]

In [40]:
# Explode genres
exp_genres = basics.explode('genres_split')
exp_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
90681,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Action
90681,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Adventure
90681,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Thriller
90682,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
90682,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [41]:
# Get unique genres from the split column
unique_genres = sorted(exp_genres['genres_split'].unique())

In [42]:
# Save just tconst and genres split as a new df
title_genres = exp_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [43]:
# Create a genre mapper directory to replace strings with integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [44]:
# Replace the string genres in title_genres with the new integer ids
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [45]:
# Convert the genre map dictionary into a dataframe
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [46]:
# Check dtypes of dataframe
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [47]:
# Create a datatype schema for to_sql
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [48]:
# Create connection to SQL
connection_str = "mysql+pymysql://root:Londo105@localhost/Project3"
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/Project3)

In [49]:
database_exists(connection_str)

True

In [50]:
# Save basics to sql with dtype and index=False
basics.to_sql('title_basics', engine, dtype=df_schema, if_exists='replace',
              index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El Tango del Viudo y Su Espejo Deformante', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0093119', 'titleType': 'movie', 'primaryTitle': 'Grizzly II: Revenge', 'originalTitle': 'Grizzly II: The Predator', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 74, 'genres': 'Horror,Music,Thriller', 'genres_split': ['Horror', 'Music', 'Thriller']}, {'tconst': 'tt0094859', 'titleType': 'movie', 'primaryTitle': 'Chief Zabu', 'originalTitle': 'Chief Zabu', 'isAdult': 0, 'startYear': 2016, 'endYear': None, 'runtimeMinutes': 74, 'genres': 'Comedy', 'genres_split': ['Comedy']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 90683 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# Run query to add primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
# Check dtypes for ratings
ratings.dtypes

In [ ]:
# Apply function from above
## Calculate max string lengths for object columns
key_len = ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'averageRating':Float(),
    'numVotes':Integer()}

In [ ]:
# Save ratings to sql with dtype and index=False
ratings.to_sql('title_ratings', engine, dtype=df_schema, if_exists='replace',
              index=False)

In [ ]:
# Run query to add primary key
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [ ]:
# check dtypes for title genres
title_genres.dtypes

In [ ]:
# Apply function from above
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'genre_id':Integer()}

In [ ]:
# Save title genres to sql with dtype and index=False
title_genres.to_sql('title_genres', engine, dtype=df_schema, if_exists='replace',
              index=False)

In [ ]:
# Unsure of what is meant be "genres" table
# Also unable to upload tmdb_data as is still not saving from pt 2

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)