## Part 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

In [4]:
basics = basics.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})
ratings = ratings.replace({'\\N':np.nan})

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
is_movie = basics["titleType"].str.contains("movie", case=False)
basics = basics[is_movie]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama

In [7]:
basics.dropna(subset=["runtimeMinutes", "genres"], inplace=True)
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           6046
endYear           452564
runtimeMinutes         0
genres                 0
dtype: int64

In [8]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [9]:
time_filter = (basics["startYear"] > '1999')
basics = basics[time_filter]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34786,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61070,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67613,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77905,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86742,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [10]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [11]:
akas.dropna(subset=["region"], inplace=True)
akas.isna().sum()

titleId                   0
ordering                  0
title                     3
region                    0
language            4330174
types              27241405
attributes         30505834
isOriginalTitle        2175
dtype: int64

In [12]:
region_filter = akas["region"].str.contains("US", case=False)
akas = akas[region_filter]
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [13]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34786       True
61070       True
67613       True
77905      False
86742       True
           ...
9084734    False
9084772    False
9084817     True
9084901    False
9084974    False
Name: tconst, Length: 164207, dtype: bool

In [14]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34786,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61070,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67613,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86742,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91011,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9084188,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9084584,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9084724,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9084733,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9084817,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [15]:
basics.info

<bound method DataFrame.info of             tconst titleType  \
34786    tt0035423     movie
61070    tt0062336     movie
67613    tt0069049     movie
86742    tt0088751     movie
91011    tt0093119     movie
...            ...       ...
9084188  tt9914942     movie
9084584  tt9915872     movie
9084724  tt9916170     movie
9084733  tt9916190     movie
9084817  tt9916362     movie

                                              primaryTitle  \
34786                                       Kate & Leopold
61070    The Tango of the Widower and Its Distorting Mi...
67613                           The Other Side of the Wind
86742                                    The Naked Monster
91011                                  Grizzly II: Revenge
...                                                    ...
9084188                             Life Without Sara Amat
9084584                               The Last White Witch
9084724                                      The Rehearsal
9084733                                          Safeguard
9084817                                              Coven

                                     originalTitle isAdult startYear endYear  \
34786                               Kate & Leopold       0      2001     NaN
61070    El Tango del Viudo y Su Espejo Deformante       0      2020     NaN
67613                   The Other Side of the Wind       0      2018     NaN
86742                            The Naked Monster       0      2005     NaN
91011                     Grizzly II: The Predator       0      2020     NaN
...                                            ...     ...       ...     ...
9084188                 La vida sense la Sara Amat       0      2019     NaN
9084584                  My Girlfriend is a Wizard       0      2019     NaN
9084724                                   O Ensaio       0      2019     NaN
9084733                                  Safeguard       0      2020     NaN
9084817                                   Akelarre       0      2020     NaN

        runtimeMinutes                     genres
34786              118     Comedy,Fantasy,Romance
61070               70                      Drama
67613              122                      Drama
86742              100       Comedy,Horror,Sci-Fi
91011               74      Horror,Music,Thriller
...                ...                        ...
9084188             74                      Drama
9084584             97       Comedy,Drama,Fantasy
9084724             51                      Drama
9084733             90  Action,Adventure,Thriller
9084817             92              Drama,History

[90659 rows x 9 columns]>

In [16]:
akas.info

<bound method DataFrame.info of             titleId  ordering                          title region language  \
5         tt0000001         6                     Carmencita     US      NaN
14        tt0000002         7         The Clown and His Dogs     US      NaN
33        tt0000005        10               Blacksmith Scene     US      NaN
36        tt0000005         1            Blacksmithing Scene     US      NaN
41        tt0000005         6            Blacksmith Scene #1     US      NaN
...             ...       ...                            ...    ...      ...
32669154  tt9916702         1  Loving London: The Playground     US      NaN
32669192  tt9916720        10                The Demonic Nun     US      NaN
32669194  tt9916720        12                      The Nun 2     US      NaN
32669211  tt9916756         1       Pretty Pretty Black Girl     US      NaN
32669227  tt9916764         1                             38     US      NaN

                types             attributes isOriginalTitle
5         imdbDisplay                    NaN               0
14                NaN  literal English title               0
33        imdbDisplay                    NaN               0
36        alternative                    NaN               0
41        alternative                    NaN               0
...               ...                    ...             ...
32669154  imdbDisplay                    NaN               0
32669192           tv                    NaN               0
32669194  imdbDisplay                    NaN               0
32669211  imdbDisplay                    NaN               0
32669227  imdbDisplay                    NaN               0

[1336364 rows x 8 columns]>

In [17]:
ratings.info

<bound method DataFrame.info of             tconst  averageRating  numVotes
0        tt0000001            5.7      1898
1        tt0000002            5.9       254
2        tt0000003            6.5      1692
3        tt0000004            5.7       166
4        tt0000005            6.2      2508
...            ...            ...       ...
1243290  tt9916690            6.5         6
1243291  tt9916720            5.1       234
1243292  tt9916730            8.4         6
1243293  tt9916766            6.8        21
1243294  tt9916778            7.2        35

[1243295 rows x 3 columns]>

In [18]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [19]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

## Part 2

In [20]:
# Getting movie data

In [21]:
# imports
import os, time,json
import tmdbsimple as tmdb 
from tqdm import *

In [22]:
def get_movie_with_rating(movie_id):
    movie = tmdbMovies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] =='US':
            movie_info['certification'] = c['certification']
    return movie_info

In [23]:
with open('/Users/Londo/.secret/TMDB_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [24]:
tmdb.API_KEY =  login['api-key']

In [25]:
# Designate a folder for saving data
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [26]:
# Define the years we are seeking
YEARS_TO_GET = [2000,2001]

In [27]:
# ("""Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""
def write_json(new_data, filename):   
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [28]:
# Starting outer loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    # defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
        # If it does not exist: create it
    if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    # Load in the dataframe from project part 1 as basics:
        basics = pd.read_csv('Data/title_basics.csv.gz')
    #Saving new year as the current df
        df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
        movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
        previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
        movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
#Get index and movie id from list
# INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_with_rating(movie_id)  #This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        # If it fails,  make a dict with just the id and None for certification.
        except Exception as e:
            continue

/Users/Londo/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

/Users/Londo/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/ipykernel_launcher.py:27: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

Movies from 2000:   0%|          | 0/1713 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1794 [00:00<?, ?it/s]

In [29]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip",
index=False)

In [30]:
# Exploratory Analysis

In [51]:
# Load in dataframes
df_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [52]:
# Concatenate dataframes
df_list = [df_2000, df_2001]

final_df = pd.concat(df_list)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2616 entries, 0 to 1308
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2616 non-null   object
 1   adult                  2614 non-null   float64
 2   backdrop_path          1323 non-null   object
 3   belongs_to_collection  176 non-null    object
 4   budget                 2614 non-null   float64
 5   genres                 2614 non-null   object
 6   homepage               220 non-null    object
 7   id                     2614 non-null   float64
 8   original_language      2614 non-null   object
 9   original_title         2614 non-null   object
 10  overview               2558 non-null   object
 11  popularity             2614 non-null   float64
 12  poster_path            2290 non-null   object
 13  production_companies   2614 non-null   object
 14  production_countries   2614 non-null   object
 15  release_date           2598 non-null   object
 16  revenue                2614 non-null   float64
 17  runtime                2614 non-null   float64
 18  spoken_languages       2614 non-null   object
 19  status                 2614 non-null   object
 20  tagline                1080 non-null   object
 21  title                  2614 non-null   object
 22  video                  2614 non-null   float64
 23  vote_average           2614 non-null   float64
 24  vote_count             2614 non-null   float64
 25  certification          863 non-null    object
dtypes: float64(9), object(17)
memory usage: 551.8+ KB

In [53]:
# Check for missing data
final_df.isna().sum()

imdb_id                     0
adult                       2
backdrop_path            1293
belongs_to_collection    2440
budget                      2
genres                      2
homepage                 2396
id                          2
original_language           2
original_title              2
overview                   58
popularity                  2
poster_path               326
production_companies        2
production_countries        2
release_date               18
revenue                     2
runtime                     2
spoken_languages            2
status                      2
tagline                  1536
title                       2
video                       2
vote_average                2
vote_count                  2
certification            1753
dtype: int64

In [54]:
# Drop columns with missing data
final_df.dropna(inplace=True)

## How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [56]:
# Filters for financial info listed above
rev_filter = final_df['revenue'] > 0
budget_filter = final_df['budget'] > 0
# New datafram with the above filters applied
financial_df = final_df.loc[rev_filter & budget_filter,:]
# Number of unique values for those filters
financial_df['imdb_id'].nunique()

11

## How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [57]:
# Find value counts for 'certification'
final_df['certification'].value_counts()

PG       12
PG-13    10
R         6
G         2
Name: certification, dtype: int64

## What is the average revenue per certification category?

In [58]:
# Groupby 'certification' and revenue
with pd.option_context('display.float_format', '${:0.2f}'.format):
   print(financial_df.groupby('certification', as_index=False)['revenue'].mean())

  certification       revenue
0             G $579707738.00
1            PG $446322213.20
2         PG-13 $554268371.75
3             R  $37166104.00

## What is the average budget per certification category?

In [59]:
# Groupby 'certification' and budget with formula above
with pd.option_context('display.float_format', '${:0.2f}'.format):
   print(financial_df.groupby('certification', as_index=False)['budget'].mean())

  certification        budget
0             G $115000000.00
1            PG  $85000000.00
2         PG-13  $75250000.00
3             R  $11066666.67

In [ ]:
## Save current dataframe to file.
financial_df.to_csv("Data/tmdb_results_combined.csv.gz",compression='gzip',index=False)

## Part 3

In [32]:
# Imports
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

In [33]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90659 entries, 0 to 90658
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          90659 non-null  object
 1   titleType       90659 non-null  object
 2   primaryTitle    90659 non-null  object
 3   originalTitle   90659 non-null  object
 4   isAdult         90659 non-null  int64
 5   startYear       90659 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  90659 non-null  int64
 8   genres          90659 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.2+ MB

In [34]:
# Split genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]

In [35]:
# Explode genres
exp_genres = basics.explode('genres_split')
exp_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
90657,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Action
90657,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Adventure
90657,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Thriller
90658,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
90658,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [36]:
# Get unique genres from the split column
unique_genres = sorted(exp_genres['genres_split'].unique())

In [37]:
# Save just tconst and genres split as a new df
title_genres = exp_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [38]:
# Create a genre mapper directory to replace strings with integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [39]:
# Replace the string genres in title_genres with the new integer ids
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [40]:
# Convert the genre map dictionary into a dataframe
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [41]:
# Check dtypes of dataframe
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [42]:
# Create a datatype schema for to_sql
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [43]:
# Create connection to SQL
connection_str = "mysql+pymysql://root:Londo105@localhost/Project3"
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/Project3)

In [44]:
database_exists(connection_str)

True

In [45]:
# Save basics to sql with dtype and index=False
basics.to_sql('title_basics', engine, dtype=df_schema, if_exists='replace',
              index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El Tango del Viudo y Su Espejo Deformante', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0093119', 'titleType': 'movie', 'primaryTitle': 'Grizzly II: Revenge', 'originalTitle': 'Grizzly II: The Predator', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 74, 'genres': 'Horror,Music,Thriller', 'genres_split': ['Horror', 'Music', 'Thriller']}, {'tconst': 'tt0094859', 'titleType': 'movie', 'primaryTitle': 'Chief Zabu', 'originalTitle': 'Chief Zabu', 'isAdult': 0, 'startYear': 2016, 'endYear': None, 'runtimeMinutes': 74, 'genres': 'Comedy', 'genres_split': ['Comedy']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 90659 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [46]:
# Run query to add primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [47]:
# Check dtypes for ratings
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [48]:
# Apply function from above
## Calculate max string lengths for object columns
key_len = ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'averageRating':Float(),
    'numVotes':Integer()}

In [49]:
# Save ratings to sql with dtype and index=False
ratings.to_sql('title_ratings', engine, dtype=df_schema, if_exists='replace',
              index=False)

In [50]:
# Run query to add primary key
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'tconst' used in key specification without a key length")
[SQL: ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# check dtypes for title genres
title_genres.dtypes

In [ ]:
# Apply function from above
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'genre_id':Integer()}

In [ ]:
# Save title genres to sql with dtype and index=False
title_genres.to_sql('title_genres', engine, dtype=df_schema, if_exists='replace',
              index=False)

In [ ]:
# Unsure of what is meant be "genres" table
# Also unable to upload tmdb_data as is still not saving from pt 2

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)